<section id="footer">
  <div class="container">
    <div class="row">
      <h4><p class="text-header">Atlus Technologies</p> </h4>

         <p> Atlus Technologies provides IT services and mission critical applications in the fields of taxation, electronic logging solutions, education, healthcare, e-commerce, and consulting services to customers around the world. We specialize in building effective long-term development teams for our customers, meeting technological and communication needs in multiple time zones. Our capabilities are built around the consulting, product and project development, and sustainment services. We put our engineers through rigorous, year-round training to keep them up to date on the latest technology. We also take our expertise to clients who need niche consulting in the areas of cutting edge training, mobile computing, and cloud computing.</p>
      <!-- <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>About Us</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>About</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>FAQ</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>Get Started</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>Videos</a>
          </li>
        </ul>
      </div> -->
      <!-- <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Conatct Us</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>About</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>FAQ</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>Get Started</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>Videos</a>
          </li>
        </ul>
      </div> -->
      <!-- <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>About</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>FAQ</a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-angle-double-right"></i>Get Started</a>
          </li>
          <li>
            <a href="https://wwwe.sunlimetech.com" title="Design and developed by">
              <i class="fa fa-angle-double-right"></i>Imprint</a>
          </li>
        </ul>
      </div> -->
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item">
            <a href="">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="" target="_blank">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
       
        <p class="h6">Copyright © 2009. Atlus Technologies Private Limited
          <a class="text-green ml-2" href="https://www.atlustechnologies.com" target="_blank">Atlus Technologies</a>
        </p>
      </div>
    </div>
  </div>
  
</section>