<div class="container marTop30px">
  <div class="row">

    <div class="col-md-12 marTop20px">
      <div class="fontMedium">Rolled out Amazon Alexa Voice command for field trails </div>
      <div class=" inlineBlock">Nov 08 , 2018</div>
      <p class="text-justify marTop10px">
        <font size="3">Simple Truck ELD developed&nbsp;Alexa Skill&nbsp;
          <font color="#333333">
            <font face="Roboto-Regular,">that enable drivers to change their duty status from one mode to another mode over the voice command. Simple
              Truck ELD using Wistron and Amazon Echo devices.</font>
          </font>
        </font>
        <br> </p>
    </div>


    <div class="col-md-12 marTop20px">
      <div class="fontMedium">Partnered with ready response crash investigation app</div>
      <div class=" inlineBlock">Oct 16 , 2018</div>
      <p class="text-justify marTop10px">
        <font size="3">
          <font color="#212529">
            <font face="-apple-system, BlinkMacSystemFont,">READI Response Detects Collisions in Real Time. React to Emergencies and Accidents by Detectives with an Investigative
              Response.</font>
          </font>
        </font>
        <br> </p>
    </div>


    <div class="col-md-12 marTop20px">
      <div class="fontMedium">Extended Live tracking and Dispatcher app</div>
      <div class=" inlineBlock">Aug 22 , 2018</div>
      <p class="text-justify marTop10px">
        <font size="3">
          <font color="#333333">
            <font face="Roboto-Regular,">Live tracking system is a software product that allows end users to control their units.</font>
          </font>
          <font color="#333333">
            <font face="Roboto-Regular,">Live tracking, Geofencing, Notifications, Maintenance and dispatcher app enabled.</font>
          </font>
        </font>
        <br> </p>
    </div>


    <div class="col-md-12 marTop20px">
      <div class="fontMedium">eZee ELD and STE agreement</div>
      <div class=" inlineBlock">Nov 22, 2017</div> |
      <a class="example-image-link" href="http://www.triesten.com/uploads/cms/29wd_img244.jpg" data-lightbox="3" data-title="">
        <i class="fa fa-camera"></i>
      </a>
      <p class="text-justify marTop10px">
        Simple Truck ELD signed the contract with eZee ELD as a distributor on 22 November, 2017.
        <br> </p>
    </div>


    <!-- <div class="col-md-12 marTop20px">
                <div class="fontMedium">Simple Truck ELD - NACV show @ Atlanta</div>
                <div class=" inlineBlock">September 28, 2017</div> 							<p class="text-justify marTop10px">
                  Simple Truck ELD participated at North American Commercial Vehicle show @ Atlanta and show cased its product capabilities to customers &amp; partners from September 24 to 28, 2017.							</p>
            </div>
           
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">White Labeling ELD for Rental Truck Company</div>
                <div class=" inlineBlock">03/06/2017</div> 							<p class="text-justify marTop10px">
                  We are white labeling our ELD for &nbsp;20,000 trucks for a rental truck company.<br>							</p>
            </div>
            
            
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">ELD in Progress</div>
                <div class=" inlineBlock">27/06/2017</div> 							<p class="text-justify marTop10px">
                  We are integrating and signing up with top load board providers and&nbsp;we have signed up with parking assistance providers.<br>							</p>
            </div>
            
            
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">ELD signed with huge dispatch load providers</div>
                <div class=" inlineBlock">10/06/2017</div> 							<p class="text-justify marTop10px">
                  &nbsp;We have signed with huge dispatch load providers to have our ELD installed in their 30,000 customer base.<br>							</p>
            </div>
            
            
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">Simple Truck ELD Launched in iTune</div>
                <div class=" inlineBlock">Feb 02, 2017</div> 							<p class="text-justify marTop10px">
                  Simple Truck ELD App is updated with latest release in iTune stores for customer downloads on Feb 02, 2017.<br>							</p>
            </div>
            
            
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">Simple Truck ELD Launched in Google Play</div>
                <div class=" inlineBlock">Feb 02, 2017</div> 							<p class="text-justify marTop10px">
                  Simple Truck ELD App is updated with latest release in Google Play for customer downloads on Feb 02, 2017.<br>							</p>
            </div>
            
            
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">Partnered with iosix</div>
                <div class=" inlineBlock">Feb 02, 2017</div> 							<p class="text-justify marTop10px">
                  Simple Truck ELD partners with&nbsp;www.iosix.com&nbsp;as their eld hardware providers.<br>							</p>
            </div>
            
            
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">Simple Truck ELD - Nashville show</div>
                <div class=" inlineBlock">Feb 27, 2017</div> | 
                  <a class="example-image-link" href="http://www.triesten.com/uploads/cms/74wd_img224.jpg" data-lightbox="12" data-title=""><i class="fa fa-camera"></i></a>
                              <p class="text-justify marTop10px">
                  Simple Truck ELD participated at ATA Truck show at Nashville and show cased its product capabilities to customers &amp; partners from Feb. 27th - March 2nd.<br>							</p>
            </div>
            
            
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">IIT-Madras Online Election</div>
                <div class=" inlineBlock">Mar 16, 2017</div> 							<p class="text-justify marTop10px">
                  Triesten successfully displayed its technology strength in implementing and conducting the Institute Student Body Election 2017-18 at IIT Madras, so called election management system. This is the first time in the history of IIT-Madras they went for online election and Triesten is proud to have them provided with the technology solutions. We thank staffs and students for their extraordinary support extended .<br>							</p>
            </div>
            
            
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">Simple Truck ELD - Louisville show</div>
                <div class=" inlineBlock">March 23, 2017</div> | 
                  <a class="example-image-link" href="http://www.triesten.com/uploads/cms/76wd_img230.JPG" data-lightbox="14" data-title=""><i class="fa fa-camera"></i></a>
                              <p class="text-justify marTop10px">
                  Simple Truck ELD participated at MAT Truck show at Louisville &nbsp;and show cased its product capabilities to customers &amp; partners from March 23rd - &nbsp;March 25th.<br>							</p>
            </div>
            
            
            <div class="col-md-12 marTop20px">
                <div class="fontMedium">Integrated DVIR</div>
                <div class=" inlineBlock">Apr 16, 2017</div> 							<p class="text-justify marTop10px">
                  Triesten technologies proudly announces its willingness to provide white labelling options of their ELD solution to its customers.<br>							</p>
            </div> -->

  </div>
</div>