<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 marTop30px contectLeftMenuBg hidden-xs">
      <p class="text-center">
        <i class="fontBig fa fa-map-marker"></i>
      </p>
      <p class="fontMedium text-center">Global Location</p>
      <ul class="list-unstyled contactList">
        <li onclick="add_Class(this)" class="active">
          United States of America </li>
        <li onclick="add_Class(this)">
          Chennai - India </li>
        <li onclick="add_Class(this)">
          Kingdom of Tonga </li>
      </ul>
    </div>
    <!-- <div class="col-md-3 col-sm-3 col-xs-12 marTop30px contectLeftMenuBg2  visible-xs">
            <p class="fontMedium text-center">Global Location</p>
            <select class="form-control contactList-xs">
                          <option value="0">United States of America					</option><option value="1">Chennai - India					</option><option value="2">Kingdom of Tonga</option>
            </select>
          </div> -->
    <!-- <div class="tab-wrapper">
      <div id="mytab-0" style="" class="tab-content"> -->
        <!-- <div class="col-md-12 col-sm-12 col-xs-12 marTop30px marTop0px-xs"> -->
          <div class="col-md-3 col-sm-3 col-xs-12 marTop30px text-center">
            <p class="circle50px">
              <i class="fontBig fa fa-building"></i>
            </p>
            <p class="fontLarge companyName">Atlus Technologies, LLC</p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 marTop30px text-center">
            <p class="circle50px">
              <i class="fontBig fa fa-map-pin"></i>
            </p>
            <p class="fontLarge addressOf">Suite # 860 3701, Algonquin Road, Rolling Meadows, Illinois 60008, USA</p>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-12 marTop30px text-center">
            <p class="circle50px">
              <i class="fontBig fa fa-phone"></i>
            </p>
            <p class="fontLarge phoneNumber"> +1 404 731 3334</p>
          </div>
          <!-- <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center faxContainer" style="display: block;">
            <p class="circle50px">
              <i class="fontBig fa fa-fax"></i>
            </p>
            <p class="fontLarge">+1 404 731 3334</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center mobileContainer" style="display: none;">
            <p class="circle50px">
              <i class="fontBig fa fa-mobile"></i>
            </p>
            <p class="fontLarge">&nbsp;+64 21029 65375</p>
          </div> -->
        <!-- </div>
      </div> -->
      <!-- <div id="mytab-1" style="display:none" class="tab-content">
        <div class="col-md-12 col-sm-12 col-xs-12 marTop30px marTop0px-xs">
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center">
            <p class="circle50px">
              <i class="fontBig fa fa-building"></i>
            </p>
            <p class="fontLarge companyName">Atlus Technologies Private Limited</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center">
            <p class="circle50px">
              <i class="fontBig fa fa-map-pin"></i>
            </p>
            <p class="fontLarge addressOf">1st Floor, NSIC Technical Services Centre,
              <br> B-24, Guindy Industrial Estate, Ekkaduthangal,
              <br> Chennai 600032, Tamilnadu, India</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center">
            <p class="circle50px">
              <i class="fontBig fa fa-phone"></i>
            </p>
            <p class="fontLarge phoneNumber"> +91 (44) 43534455</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center faxContainer" style="display: none;">
            <p class="circle50px">
              <i class="fontBig fa fa-fax"></i>
            </p>
            <p class="fontLarge">+1 224 735 2335</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center mobileContainer" style="display: none;">
            <p class="circle50px">
              <i class="fontBig fa fa-mobile"></i>
            </p>
            <p class="fontLarge">&nbsp;+64 21029 65375</p>
          </div>
        </div>
      </div> -->
      <!-- <div id="mytab-2" style="display:none" class="tab-content">
        <div class="col-md-9 col-sm-9 col-xs-12 marTop30px marTop0px-xs">
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center">
            <p class="circle50px">
              <i class="fontBig fa fa-building"></i>
            </p>
            <p class="fontLarge companyName">Atlus Technologies</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center">
            <p class="circle50px">
              <i class="fontBig fa fa-map-pin"></i>
            </p>
            <p class="fontLarge addressOf">Ground floor, Room 4-6, Fakafanua South Building,
              <br>Ma'ufanga, Kingdom of Tonga</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center">
            <p class="circle50px">
              <i class="fontBig fa fa-phone"></i>
            </p>
            <p class="fontLarge phoneNumber">+782-0615, 842-9615 &amp; 781-3341</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center faxContainer" style="display: none;">
            <p class="circle50px">
              <i class="fontBig fa fa-fax"></i>
            </p>
            <p class="fontLarge">+1 224 735 2335</p>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 marTop30px text-center mobileContainer" style="display: none;">
            <p class="circle50px">
              <i class="fontBig fa fa-mobile"></i>
            </p>
            <p class="fontLarge">&nbsp;+64 21029 65375</p>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
</div>