.row {
    margin-right: -15px;
    margin-left: -15px;
}
.contectLeftMenuBg {
    background: #f5f5f5;
    padding: 20px;
}

.marTop30px {
    margin-top: 30px;
}
.graybg-subpage {
    background: #7987ca;
    padding: 10px 0px;
}