 <div class="container ">
    <div class="row topMorgin30px">
      <div class="col-md-12">
        <div class="page-content text-justify marTop20px">
          <div>
            <span style="text-align: justify;">
              <font color="#000000" face="Open Sans, sans-serif">Atlus provides IT services and mission critical applications in the fields of taxation, electronic logging
                solutions, education, healthcare, e-commerce, and consulting services to customers around the world. We specialize
                in building effective long-term development teams for our customers, meeting technological and communication
                needs in multiple time zones. Our capabilities are built around the consulting, product and project development,
                and sustainment services. We put our engineers through rigorous, year-round training to keep them up to date
                on the latest technology. We also take our expertise to clients who need niche consulting in the areas of
                cutting edge training, mobile computing, and cloud computing.</font>
              <br>
            </span>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <p align="center">
          <span class="circle50px">
            <i class="fa fa fa-gears fontBig marTop5px"></i>
          </span>
        </p>
        <p class="fontMedium ">Atlus Services and Solutions</p>
        <ul class="sub-page-list">
          <li>Product Development Services</li>
          <li>Application Development Services</li>
          <li>Application Maintenance and Sustaining Services</li>
          <li>Consulting and Resource Augmentation</li>
          <li>Quality Assurance and Testing Services</li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <p align="center">
          <span class="circle50px">
            <i class="fa fa-thumbs-up fontBig marTop5px fontBig marTop5px"></i>
          </span>
        </p>
        <p class="fontMedium text-center">Atlus Advantage</p>
        <ul class="sub-page-list">
          <li>Satisfied clients worldwide</li>
          <li>24/7 global delivery model</li>
          <li>Multiple software development centers with state-of-the-art infrastructure and communication protocols</li>
          <li>Global footprint across the United States, India, New Zealand, and the Pacific Islands</li>
          <li>Expertise in software development, software consulting, remote support services, and testing</li>
          <li>Reliability through technology and domain-based CoE-centric services
            <br>
          </li>
          <li>Dedicated Research and Development team, comprised of senior architects, SMEs, and consultants, focused on delivering
            solutions in emerging and niche areas</li>
        </ul>
      </div>

    </div>
  </div>