<div class="container marTop30px">
  <div class="row">
    <div class="col-md-8">
      <div class="page-content text-justify marTop20px">
        <p style="text-align: justify;">Our selection policy is fundamentally based on attitude, merit, qualification and ability to perform the task to
          our client’s satisfaction.
          <br>
        </p>
        <p class="fontMedium" style="text-align: justify;">Selection:</p>
        <p style="text-align: justify;">The selection processes are handled by consultants with expertise enabling us to tackle your requisition promptly.
          Every candidate is thoroughly assessed and screened with</p>
        <ul class="sub-page-list">
          <li style="text-align: justify;">Records</li>
          <li style="text-align: justify;">Experience</li>
          <li style="text-align: justify;">References</li>
        </ul>
        <div style="text-align: justify;">Our methods of handling the search for a candidate are tailored to specific requirements like</div>
        <ul class="sub-page-list">
          <li style="text-align: justify;">Industry Specific</li>
          <li style="text-align: justify;">Culture of the Client</li>
          <li style="text-align: justify;">Skillset &amp; attitude of the candidate</li>
        </ul>
        <p class="fontMedium" style="text-align: justify;">Turn Around Time:</p>
        <p style="text-align: justify;">Our systematic and streamlined methodology of recruitment helps us to provide apt manpower according to our clients’
          requirements within the stipulated time.</p>
        <div style="text-align: justify;">The technical and geographic scope of the search is agreed upon with our client, based on their&nbsp;</div>
        <div style="text-align: justify;">work practice, culture and moral values.</div>
        <p></p>
        <p style="text-align: justify;">If you are interested, email us-
          <a href="mailto:career@atlus.com">career@atlus.com</a>
        </p>
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="col-md-4 marTop20px">
      <img src="../../assets/img/consulting.png" class="img-responsive">
    </div>
  </div>
</div>