
.round-image-team {
    border: 8px solid #CCC;
    width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.marTop30px {
    margin-top: 30px;
}
.colorblack {
    color: #333;
}
.fontLarge {
    font-size: 1.2em;
    font-weight: normal!important;
}
.colorgray {
    color: #989191;
}
.text-center {
    text-align: center;
}
.no-underline {
    text-decoration: none;
}