<div class="container">
  <div class="row marTop30px">

    <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 overlay-container marTop30px">
      <a href="https://www.quicktrucktax.com/" target="_blank;?>">
        <img src="http://www.triesten.com/uploads/cms/24wd_img176.png" alt="" class="overlay-image img-responsive">
        <div class="opacityeffecet">
          <div class="overlay">
            <div class="arrow-up"></div>
            <div class="overlay-caption">
              <div class="text-center caption-text">
                <p class="padTop10px fontMedium">www.simpletruckeld.com</p>
                <p class="font12px overlay-para">
                  <span style="font-family: Roboto-Regular, Roboto-Black, Roboto-Light, Roboto-Medium, Roboto-LightItalic, Oxygen, Ubuntu, &quot;Segoe UI&quot;, Cantarell, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, Arial, sans-serif; text-align: justify;">Simple Truck ELD solution for the FMCSA Hours of Service mandate allows drivers to easily and more accurately
                    track, manage, and share records of duty status (RODS) data.</span>
                  <br>
                </p>
              </div>
            </div>
          </div>

        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 overlay-container marTop30px">
      <a href="https://www.quicktrucktax.com/" target="_blank;?>">
        <img src="http://www.triesten.com/uploads/cms/70wd_img175.png" alt="" class="overlay-image img-responsive">
        <div class="opacityeffecet">
          <div class="overlay">
            <div class="arrow-up"></div>
            <div class="overlay-caption">
              <div class="text-center caption-text">
                <p class="padTop10px fontMedium">www.simpletrucktax.com</p>
                <p class="font12px overlay-para">
                  <span style="font-family: Roboto-Regular, Roboto-Black, Roboto-Light, Roboto-Medium, Roboto-LightItalic, Oxygen, Ubuntu, &quot;Segoe UI&quot;, Cantarell, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, Arial, sans-serif; text-align: justify;">Simple Truck Tax is the most simple and affordable online filing service provider for your Heavy Vehicle
                    Usage Tax (2290). To getting started please visit to&nbsp;</span>
                  <font face="Roboto-Regular, Roboto-Black, Roboto-Light, Roboto-Medium, Roboto-LightItalic, Oxygen, Ubuntu, Segoe UI, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif">www.tax2290.simpletrucktax.com/</font>
                  <br>
                </p>
              </div>
            </div>
          </div>

        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 overlay-container marTop30px">
      <a href="https://www.qucikifta.us/" target="_blank;?>">
        <img src="http://www.triesten.com/uploads/cms/92wd_img181.png" alt="" class="overlay-image img-responsive">
        <div class="opacityeffecet">
          <div class="overlay">
            <div class="arrow-up"></div>
            <div class="overlay-caption">
              <div class="text-center caption-text">
                <p class="padTop10px fontMedium">www.simpleifta.us</p>
                <p class="font12px overlay-para"></p>
                <div style="text-align: center;">
                  <font face="Roboto-Regular, Roboto-Black, Roboto-Light, Roboto-Medium, Roboto-LightItalic, Oxygen, Ubuntu, Segoe UI, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif">Simple IFTA performs calculation based on your mileage and fuel data provided by you. At the end, you can
                    generate the report and submit to your base jurisdiction.</font>
                  <br>
                </div>
                <p></p>
              </div>
            </div>
          </div>

        </div>
      </a>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-6 col-xxs-12 overlay-container marTop30px">
      <a href="http://triesten.com/w/efraud-solution" target=";?>">
        <img src="http://www.triesten.com/uploads/cms/19wd_img177.png" alt="" class="overlay-image img-responsive">
        <div class="opacityeffecet">
          <div class="overlay">
            <div class="arrow-up"></div>
            <div class="overlay-caption">
              <div class="text-center caption-text">
                <p class="padTop10px fontMedium">efraud-solution</p>
                <p class="font12px overlay-para">
                  <span style="font-family: Roboto-Regular, Roboto-Black, Roboto-Light, Roboto-Medium, Roboto-LightItalic, Oxygen, Ubuntu, &quot;Segoe UI&quot;, Cantarell, &quot;Fira Sans&quot;, &quot;Droid Sans&quot;, &quot;Helvetica Neue&quot;, Arial, sans-serif; text-align: justify;">Check Stock Counterfeit Detection validates different check stock objects, as well as automatically locating
                    and performing image comparison of preprinted objects.</span>
                  <br>
                </p>
              </div>
            </div>
          </div>

        </div>
      </a>
    </div>
  </div>
</div>