<div class="container marTop30px">
  <div class="row">

    <div class="col-md-6">
      <p>Atlus built-in proven development methodology-a combination of extreme programming and feature-driven development-
        consistently produces application development solutions for our clients. We follow our process coupled with Agile
        and Scrum, implementing these approaches based on the requirements of application development in a highly collaborative
        and cross-cultural environment. The result is an approach that blends Atlus’s team, clients, and customers into a
        single entity- mitigating risk, allowing transparency, lowering life cycle cost, and creating a seamless implementation.</p>
    </div>
    <div class="col-md-6">
      <p class="fontRobotoMedium">Key features of our custom application development approach include:</p>
      <ul class="sub-page-list">
        <li>Involving client in all stages of the development cycle</li>
        <li>Predefined methodologies and frameworks</li>
        <li>Structured and managed requirements definition phase</li>
        <li>Tools to improve development effectiveness</li>
        <li>High focus on quality</li>
        <li>Predefined processes for program and project management</li>
        <li>Seamless communication and collaboration processes</li>
      </ul>
    </div>
    <div class="clearfix"> </div>


    <div class="col-md-6 col-sm-6 col-xs-12">
      <p align="center">
        <!--<span class="circle50px"><i class=" fontBig marTop5px"></i></span>-->
        <img src="../../assets/img/alexa-img.png" class="servicesImg">
      </p>
      <p class="fontMedium text-center">Alexa Skill Development </p>
      <div style="text-align: justify;">We can build Amazon Alexa skills development to customers based on their requirement. Our team has extensive knowledge
        in creating Alexa skills and we have updated Alexa skills to Simple Truck ELD to enable the duty status changes through
        Alexa voice command. It makes drivers life easier to manage FMCSA rules.&nbsp;</div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p align="center">
        <!--<span class="circle50px"><i class="fa fa-check-square-o fontBig marTop5px"></i></span>-->
        <img src="../../assets/img/47wd_img219.png" class="servicesImg">
      </p>
      <p class="fontMedium text-center">Testing Services</p>
      Atlus's testing center of excellence is uniquely placed with domain and technology expertise, features a highly skilled team
      and top-of-the-line resources to provide QA testing services. Our services include:
      <div>
        <br>
        <ul class="sub-page-list">
          <li>Integrated Functional Testing</li>
          <li>Test Automation Consulting
            <br>
          </li>
          <li>Test Process Consulting
            <br>
          </li>
          <li>Performance Testing
            <br>
          </li>
        </ul>
      </div>
      <p>The client benefits are vast- higher system quality, quick turnaround times, greater efficiency and resource utilization,
        and many more.</p>
      <p>For additonal information about our testing services, download our&nbsp;
        <a href="../../assets/docs/TestingServicesModel.pdf" title="" target="_blank">Atlus Testing Services Model</a>.</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p align="center">
        <!--<span class="circle50px"><i class="fa fa-shopping-cart fontBig marTop5px"></i></span>-->
        <img src="../../assets/img/66wd_img132.png" class="servicesImg">
      </p>
      <p class="fontMedium text-center">eCommerce Solutions</p>
      <p style="text-align: justify;">Atlus has extensive experience in designing and implementing e-commerce solutions for various clients. Our solutions,
        powered by a combination of open source and proprietary components, have brought clients online with minimal overhead.
        Atlus has also specialized in building custom functionality around the standard e-commerce solutions to suit the
        needs of our clients.</p>
      <p style="text-align: justify;">We have expertly developed multilingual e-commerce applications, and have delivered products in 18 different languages
        so far. Our team has experience in search engine optimization, payment gateways, RIAs, presentation layers, multimedia
        tools, HTML, CSS, Javascript tools, and more- ensuring the products developed are as unique as our clients, and will
        stand out among customers for safe and easy online shopping experiences.</p>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p align="center">
        <!--<span class="circle50px"><i class="fa fa-cog fontBig marTop5px"></i></span>-->
        <img src="../../assets/img/47wd_img219.png" class="servicesImg">
      </p>
      <p class="fontMedium text-center">Product Development &amp; Engineering</p>
      <p style="text-align: justify;">Atlus offers a complete suite of software products and quality engineering services to accelerate product development
        and drive innovation. Our built-in product development methodology, a blend of extreme programming and feature development
        combined with Agile and Scrum, enables us to deliver high quality software, reduce overheads, and produce high visibility
        for our clients.</p>
      <p style="text-align: justify;">We add true business value through strategic software development approaches. We use our proven delivery model, Atlus
        Development XTreme Process (TDX), based on our years of expertise in developing highly complex and mission critical
        software technology solutions. This model mitigates risk, ensures flexibility, and provides the stability you need
        to optimize your software engineering.</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p align="center">
        <!--<span class="circle50px"><i class="fa fa-mobile fontBig marTop5px"></i></span>-->
        <img src="../../assets/img/42wd_img130.png" class="servicesImg">
      </p>
      <p class="fontMedium text-center">Mobile Application Development</p>
      <p style="text-align: justify;">Atlus offers affordable native and hybrid mobile app development, using the most recent technologies and cutting-edge
        development processes.</p>
      <p style="text-align: justify;">
        <span id="docs-internal-guid-b479847f-18b4-24f0-bdc4-d8a315ad5003"></span>
      </p>
      <p dir="ltr" style="margin-top: 0pt; margin-bottom: 0pt; line-height: 1.38;">
        <span style="font-size: 11pt; font-family: Arial; color: rgb(0, 0, 0); background-color: transparent; vertical-align: baseline; white-space: pre-wrap;">We work with various frameworks and technologies, including</span>
      </p>
      <ul class="sub-page-list">
        <li style="text-align: justify;">Ionic</li>
        <li style="text-align: justify;">jQuery Mobile</li>
        <li style="text-align: justify;">Phonegap</li>
        <li style="text-align: justify;">AngularJs</li>
        <li style="text-align: justify;">Java for native app development</li>
        <li style="text-align: justify;">xCode</li>
      </ul>
      <p style="text-align: justify;">
        <font color="#000000" face="Arial"></font>
      </p>
      <p style="font-size: 14.6667px; white-space: pre-wrap;">
        <font color="#000000" face="Arial">We have developed and deployed mobile apps across several domains in both Android and iOS. Take a look at our
          <a href="/our-products" title="" target="_blank">Products</a> page to find links to some of our work.</font>
      </p>
      <div>
        <font color="#000000" face="Arial">
          <br>
        </font>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <p align="center">
        <!--<span class="circle50px"><i class="fa fa-gears fontBig marTop5px"></i></span>-->
        <img src="../../assets/img/83wd_img112.png" class="servicesImg">
      </p>
      <p class="fontMedium text-center">Application Development &amp; Engineering</p>
      <p style="text-align: justify;">Atlus offers affordable application development and maintenance services with short turnaround times and stringent
        quality processes that consistently adhere to the best practices and needs of the industry.</p>
      <p style="text-align: justify;">We are committed to building effective mission critical products, and delivering solutions that create clear and unparalleled
        business value additions to our clients. From the client who wishes to establish an online presence and create more
        business channels, to the established business that requires more complexity and interactivity, custom software development
        brings applications to life, and we make it affordable for everyone.</p>
      <p style="text-align: justify;">All of our custom web and software development projects are developed using industry standard tools and proven technologies.
        We offer application development services based on Microsoft .NET Technologies, J2EE, RDBMS, Client-Server, ERP/CRM/SCM
        maintenance, and 24/7 technical support across multiple time zones. We customize our services according to each client’s
        unique needs by employing flexible service models.</p>
    </div>
    <div class="clearfix"></div>

  </div>
</div>