<div class="container marTop30px">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
      <div class="col-md-12">
        <a class="no-underline" href="#!">
          <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
          <div class="partners">
            <div class="caption-partners">
              <div class="text-center">
                <p class="padTop10px fontLarge colorblack">Alraj Palani</p>
                <p class="colorgray">Chief Executive Officer</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Hon. Princess of Tonga Salotte Lupeapau’u</p>
                    <p class="colorgray">CEO, Atlus Technologies, Tonga</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Kadirvel Nanjappa</p>
                    <p class="colorgray">Chief Technology Officer</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Nirmala Sriram</p>
                    <p class="colorgray"> Chief Financial Officer </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Gomathi Sivaraj</p>
                    <p class="colorgray">Director Engineering</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Epe Taione</p>
                    <p class="colorgray">Managing Director, Pacific Islands</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Gerard Francis</p>
                    <p class="colorgray">Director, IT Operations</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Saisuresh</p>
                    <p class="colorgray">Manager Projects</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Srini Natarajan</p>
                    <p class="colorgray">Director, HUVT Tax Products</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Raj Rajagopal</p>
                    <p class="colorgray">Director, eFraud Solutions</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Jayavel Sundaravinayagam</p>
                    <p class="colorgray">Director, R&amp;D, Training</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Mahesh kumar</p>
                    <p class="colorgray">Architect Microsoft &amp; eFraud Product </p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Sashi Kiran Rao</p>
                    <p class="colorgray">Architect ELD &amp; Mobile Product Development</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>


        <div class="col-md-3 col-sm-3 col-xs-12 text-center marTop30px">
          <div class="col-md-12">
            <a class="no-underline" href="#!">
              <img src="../../assets/img/alraj_palani.png" alt="" class="img-circle round-image-team img-responsive">
              <div class="partners">
                <div class="caption-partners">
                  <div class="text-center">
                    <p class="padTop10px fontLarge colorblack">Balachandran</p>
                    <p class="colorgray">Team Lead Mobile Product development and Amazon Alexa</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div> -->

  </div>
</div>