<div class="clearfix"></div>
<div class="container">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img src="../../assets/img/utility-1.jpg" alt="Random first slide">
          <div class="carousel-caption">
            <h3>Prepare and E-file your 2290 Form Online with ETAX2290</h3>
            <p>Fast Secure</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../assets/img/utility-1.jpg" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Prepare and E-file your 2290 Form Online with ETAX2290</h3>
            <p>File the tax</p>
          </div>
        </ng-template>
        <!-- <ng-template ngbSlide>
          <img src="../../assets/img/utility-3.jpg"  alt="Random third slide">
          <div class="carousel-caption">
            <h3>Prepare and E-file your 2290 Form Online with ETAX2290</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../assets/img/utility-4.jpg" alt="Random fourth slide">
          <div class="carousel-caption">
            <h3>Prepare and E-file your 2290 Form Online with ETAX2290</h3>
            <p>This carousel uses customized default values.</p>
          </div>
        </ng-template> -->
      </ngb-carousel>
      <br>
    <h1>E-File Your <span>HVUT 2290</span> Form Now! </h1>
    <div class="animated fadeInLeft">
    <p>IRS Form 2290, Heavy Vehicle Used Tax (HVUT  ) is a Federal Excise Tax that is imposed on heavy weight highway vehicles with  gross weight of 55,000 pounds or more. Owners of the heavy weight vehicles must  file the <a href="https://www.atlustechnologies.com">Heavy  vehicle use tax</a> annually through filing 2290 form online and get their  Stamped Schedule 1. This Tax is applicable for certain heavy taxable vehicles  such as tractor, trucks, trailers and buses which use public highways. </p>
    <p> E-filing <a href="https://www.atlustechnologies.com/efile/form-2290">Form 2290</a> must be done  during the tax period of July 1 to June 30 every year. And the deadline of  filing form 2290 is August 31. If the due date falls on weekends, then the tax  payer can file the form 2290 by next business day. File your Form 2290 online  and save your time. No more waiting in IRS office and also no delay in getting  your Stamped <a href="https://www.atlustechnologies.com/form-2290/schedule1/">Schedule 1</a>.  Receive your Stamped Schedule 1 in minutes when you file your tax with Quick2290.com</p>
    </div>
    </div>