<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="../../assets/img/atlus_logo1.png" alt="">Atlus Technologies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
       
         <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="team">Our Team</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="partners">Partners</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="products">Our Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="services">Our Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="consulting">Consulting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="press">Press</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="clients">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aboutus">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- 
  <section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6"></div>
          <p>BEST COMPANY</p>
          <p>
              Simplifying Enterprise Needs...
              The result is an approach that blends Triesten's team, clients and customers into a single entity mitigating risk, allowing transparency, lowering life cycle cost and creating a seamless implementation.
              
          </p>
      </div>
    </div> 


  </section> 
-->