$font: 'Poppins', sans-serif;

.navbar{
    background-image: linear-gradient(to right, rgba(155, 38, 87, 0.966), rgba(182, 4, 63, 0.815));
    padding: 0px !important;
}
.navbar-brand img{
    height: 40px;
    padding-left: 10px;
}
.navbar-nav li{
    padding:0 10px;
}
.navbar-nav li a{
    color: #ffffff !important;
    font-weight: 600;
    float:right;
    text-align: left;
}
.fa-bars{
    color: #ffffff;
    font-size: 30px !important;
}
.navbar-toggler{
    border: none !important;
}
nav>a{
 color: #169deb;
 font-style: initial;
 font-weight: 800;
 background: linear-gradient(to right, rgb(52, 112, 2) 0%, #c2e403 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}